<!-- <div *ngIf="images && images.length > 0" class="carousel-container">
    <img *ngFor="let image of images; 
    let i=index" [src]="image.imageSrc" [alt]="image.imageAlt" [ngClass]="{'image.active': selectedIndex === i}">
    sd
</div> -->


<div class="main">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
        data-bs-config='{"interval":1000, "pause":false}'>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/accueil/composant1/componant1img2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/accueil/composant1/componant1img1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/accueil/composant1/componant1img3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/accueil/composant1/componant1img4.png" class="d-block w-100" alt="...">
            </div>
        </div>

    </div>
</div>