<div class="main">
    <div class="container">
        <div class="top">
            <h1 class="titre1">SPORT SCAPE</h1>
            <h1 class="titre2">TROUVER RESERVER</h1>
            <h1 class="titre1">& HAVE FUN</h1>
        </div>
        <div class="buttom">
            <form>
                <div class="form-group">
                    <div class="form1">
                        <p>Gouvernorat</p>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form2">
                        <div style="width: 70%;">
                            <p>Activité</p>
                            <select class="form-control">
                                <option>FOOTBALL</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div style="width: 25%;">
                            <p>Quand ?</p>
                            <input type="date" value="2024-06-17" min="2024-06-17" max="2030-12-31">
                            <!-- <input type="date" name="currentdate" id="currentdate" value="currentdate"> -->
                        </div>
                    </div>
                    <div>
                        <button><img src="/assets/images/accueil/composant1/searchicon.png">Recherche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <script>
    var d = new Date()
    var year = d.getFullYear();
    var month = d.getMonth() + 1
    if (month < 10) {
        month = '0' + month
    }
    var date = d.getDate();
    if (date < 10) {
        date = '0' + date
    }
    var c_date=year+"-"+month+"-"+date;
    document.getElementById('currentdate').value=c_date;
</script> -->