<section class="container">
    <div class="detail">

            <div class="descriptionDetaille">
                <div class="vertical-line"></div>
                <div class="phrase"><b>DESCRIPTION DÉTAILLÉE</b></div>
                <div>
                    <p>Happy land vous permet de profiter des terrains de football ⚽ en plein air avec une pelouse de 5ème génération 🌿.
                     Des terrains ouverts 7j/7🕝 pour pratiquer votre sport préféré ⚽ et sentir le plaisir en équipe quand vous le désirez.
                      Happy Land est un espace complet qui est pensé pour vos familles👨&zwj;👩&zwj;👧&zwj;👦 aussi avec son espace familial 👨&zwj;👩&zwj;👧&zwj;👦,
                       un espace pour enfant 🎈👦👧, un parking🅿️ et une salle de fête🎉.
                     Happy Land vous attend pour des moments magnifiques de détente et de plaisir 🥳🤩.
                    </p>
                </div>
            </div>

            <div class="trouver">
                <div class="vertical-line" style="margin-left:-50px ;"></div>
                <div class="phrase" style="margin-left:-50px ;"><b>VOUS TROUVEZ AUSSI</b></div>
                <div class="container">
                    <div class="blocs">
                        <div class="bloc">
                            <button class="boutton" container="body" placement="top" type="button">
                                <img  alt="Douche" height="50" width="50" src="assets/images/searshDetail/section1/4068.png">
                            </button>
                        </div>
                        <div class="bloc">
                            <button  class="boutton" container="body" placement="top" type="button">
                                <img  alt height="50" width="50" src="assets/images/searshDetail/section1/4069.png">
                            </button>
                        </div>
                        <div class="bloc">
                            <button  class="boutton" container="body" placement="top" type="button">
                                <img  alt height="50" width="50" src="assets/images/searshDetail/section1/4070.png">
                            </button>
                        </div>
                        <div class="bloc">
                            <button  class="boutton" container="body" placement="top" type="button">
                                <img  alt height="50" width="50" src="assets/images/searshDetail/section1/4071.png">
                            </button>
                        </div>
                        <div class="bloc">
                            <button  class="boutton" container="body" placement="top" type="button">
                                <img  alt height="50" width="50" src="assets/images/searshDetail/section1/4072.png">
                            </button>
                        </div>
                        <div class="bloc">
                            <button  class="boutton" container="body" placement="top" type="button">
                                <img  alt height="50" width="50" src="assets/images/searshDetail/section1/4073.png">
                            </button>
                        </div>
                        <div class="bloc">
                            <button  class="boutton" container="body" placement="top" type="button">
                                <img  alt height="50" width="50" src="assets/images/searshDetail/section1/15118.png">
                            </button>
                        </div>
                        <div class="bloc">
                            <button  class="boutton" container="body" placement="top" type="button">
                                <img  alt height="50" width="50" src="assets/images/searshDetail/section1/15123.png">
                            </button>
                        </div>
                        <div class="bloc">
                            <button  class="boutton" container="body" placement="top" type="button">
                                <img  alt height="50" width="50" src="assets/images/searshDetail/section1/15125.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="ligne">
</section>
<section class="container">
    <div class="vertical-line-final-section"></div>
    <div class="phrase"><strong>FEEDBACK</strong><br>
        <div class="star-rating">
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">★</label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars">★</label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars">★</label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars">★</label>
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars">★</label>
        </div>
    </div>
</section>