<div class="partierr1">
    <div class="partier1-1">
        <div class="partier1-1-1">
            <div style="margin-top: 300px; ">
                <h4><span style="color: rgb(13, 177, 32); font-size: 36px;">DEVENEZ
                    </span><br>
                    <span style="color: rgb(13, 177, 32); font-size: 36px;"> PARTENAIRE</span><br>
                    <span style="color: rgb(13, 177, 32); font-size: 36px;"> SPORTSCAPE</span>
                </h4><br>
                <h6 style="margin-bottom: 50px;">
                    <span style="color: rgba(255, 255, 255, 0.826); font-size: 18px; font-weight: lighter;">& découvrez
                        un nouveau public

                    </span><br>
                    <span style="color: rgba(255, 255, 255, 0.826); font-size: 18px;  font-weight: lighter;">en quelques
                        secondes
                    </span>
                </h6>
            </div>

        </div>


    </div>
    <div class="partier1-2">
        <div class="partier121">



            <div class="container">
                <div class="title" style="margin-bottom: 30px; font-weight:lighter; font-size: 16px; margin-top: 10px;">
                    <span style="font-weight: bold; margin-right: 4px;">Infos</span> générales de votre espace
                </div>
                <div class="content">
                    <form [formGroup]="partenaireForm" novalidate>
                        <div class="user-details">
                            <div class="input-box">

                                <input type="text" placeholder="nom" formControlName="nom" required>
                                <small *ngIf="partenaireForm.controls['nom'].errors && partenaireForm.controls['nom'].touched"
                                class="text-danger">
                                {{getErrorsMessage('nom',partenaireForm.controls['nom'].errors)}}</small>
                            </div>
                            <div class="input-box">

                                <input type="text" placeholder="code" formControlName="code" required>
                                <small *ngIf="partenaireForm.controls['code'].errors && partenaireForm.controls['code'].touched"
                                class="text-danger">
                                {{getErrorsMessage('code',partenaireForm.controls['code'].errors)}}</small>
                            </div>
                        </div>
                        <div class="user-details">
                            <div class="input-box">

                                <input type="text" placeholder="ville" formControlName="ville" required>
                                <small *ngIf="partenaireForm.controls['ville'].errors && partenaireForm.controls['ville'].touched"
                                class="text-danger">
                                {{getErrorsMessage('ville',partenaireForm.controls['ville'].errors)}}</small>
                            </div>
                            <div class="input-box">

                                <input type="text" placeholder="Adresse" formControlName="Adresse" required>
                                <small *ngIf="partenaireForm.controls['Adresse'].errors && partenaireForm.controls['Adresse'].touched"
                                class="text-danger">
                                {{getErrorsMessage('Adresse',partenaireForm.controls['Adresse'].errors)}}</small>
                            </div>
                        </div>
                        <div class="user-details">
                            <div class="input-box">

                                <input type="text" placeholder="Sélectionner ou taper une nouvelle activité" formControlName="activite"
                                    required>
                                    <small *ngIf="partenaireForm.controls['activite'].errors && partenaireForm.controls['activite'].touched"
                                    class="text-danger">
                                    {{getErrorsMessage('activite',partenaireForm.controls['activite'].errors)}}</small>
                            </div>
                            <div class="input-box">

                                <input type="text" placeholder="nombre max de joueur" formControlName="nombremax" required>
                                <small *ngIf="partenaireForm.controls['nombremax'].errors && partenaireForm.controls['nombremax'].touched"
                                class="text-danger">
                                {{getErrorsMessage('nombremax',partenaireForm.controls['nombremax'].errors)}}</small>
                            </div>
                        </div>
                        <div class="user-details user-details2">
                            <div class="input-box">
                                <textarea placeholder="Description" name="" id=""
                                    style="width: 100%; height: 60px;"></textarea>

                            </div>


                        </div>
                        <div style="margin-bottom: 30px; font-weight:lighter; font-size: 16px; margin-top: 10px;"><span
                                style="font-weight: bold;">Contact </span>
                        </div>

                        <div class="user-details">
                            <div class="input-box">

                                <input type="text" placeholder="Tél. +216" formControlName="telephone" required>
                                <small *ngIf="partenaireForm.controls['telephone'].errors && partenaireForm.controls['telephone'].touched"
                                class="text-danger">
                                {{getErrorsMessage('telephone',partenaireForm.controls['telephone'].errors)}}</small>
                            </div>
                            <div class="input-box">

                                <input type="text" placeholder="Email" formControlName="mail" required>
                                <small *ngIf="partenaireForm.controls['mail'].errors && partenaireForm.controls['mail'].touched"
                                class="text-danger">
                                {{getErrorsMessage('mail',partenaireForm.controls['mail'].errors)}}</small>

                            </div>
                        </div>
                        <div class="goupwrapper">
                            <div class="wrapper" style="border-radius: 50%;">
                                <input type="file" class="my_file">

                            </div>

                            <div class="wrapper">
                                <input type="file" class="my_file">

                            </div>
                            <div class="wrapper">
                                <input type="file" class="my_file">

                            </div>
                            <div class="wrapper">
                                <input type="file" class="my_file">

                            </div>
                            <div class="wrapper">
                                <input type="file" class="my_file">

                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="partier1-2-1">
                
                <div>

                    <google-map style="margin-top: 20px;" height="45vh" width="width:100%" [center]="center" [zoom]="zoom"
                         (mapClick)="addMarker($event)">
                        <map-marker  [position]="markerPosition" [options]="markerOption"></map-marker>
                    </google-map>
                </div>
                <div style="display: flex; justify-content: end;">
                    <div class="button-77" style="display: flex; justify-content: center; align-items: center;">
                        <img style="width: 30ox; height: 30px;"
                            src="../../../../assets/images/imagepartenairePage/imagecomposant1partenaire/icongooglemap.png"
                            alt="">
                        <h4 style="color: rgb(0, 0, 0); margin-top: 5px; font-weight: lighter;">Adresse</h4>
                    </div>
                </div>
                <div class="title" style="margin-bottom: 30px; font-weight:lighter; font-size: 16px; margin-top: 10px;">
                    <span style="font-weight: bold; margin-right: 4px;">Géolocalisation</span> <br>Optionnelle
                </div>
                <div class="user-details" style="display: flex;">
                    <div class="input-box">

                        <input type="number" placeholder="Latitude"[(ngModel)]="Latitude"  required>

                    </div>
                    <div class="input-box">

                        <input type="number" placeholder="Longtitude" [(ngModel)]="Longtitude" required>

                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>

            </div>
        </div>
    </div>


</div>