<div class="body">
    <div class="partier">
        <div class="partier2-f">
            <h1 style="color: rgb(50, 189, 4); font-size: 45px;">AVANTAGES</h1>
        </div>
        <div class="partier1">
            <div class="partier1-1">
                <img src="../../../assets/images/imagesSportEntreprise/imagescomposant2/icon1.png" alt="">
                <h6 style="color: rgba(255, 255, 255, 0.704); font-size: 18px;"> <span
                        style="color: white;">Réservez</span> une convention</h6>
                <h6 style="color: rgb(50, 189, 4);"> avec une remise
                </h6>
                <h6 style="color: rgb(50, 189, 4);; margin-top:-10px;">exclusive.</h6>

            </div>
            <div class="partier1-2">
                <img src="../../../assets/images/imagesSportEntreprise/imagescomposant2/icon2.png" alt="">
                <h6 style="color: rgba(255, 255, 255, 0.704); font-size: 18px;"><span
                        style="color: white;">Améliorez</span> la productivité</h6>
                <h6 style="color: rgb(50, 189, 4);"> et la performance.</h6>
            </div>

        </div>
        <div class="partier2">
            <h1 style="color: rgb(50, 189, 4); font-size: 45px;">AVANTAGES</h1>
            <img class="img" style="width: 230px; height: 350px;"
                src="../../../../assets/images/imagepartenairePage/imagecomposant2partenaire/iconcomposant2partenaire.png"
                alt="">
        </div>
        <div class="partier3">
            <div class="partier1-1">
                <img src="../../../assets/images/imagesSportEntreprise/imagescomposant2/icon3.png" alt="">
                <h6 style="color: rgba(255, 255, 255, 0.704); font-size: 18px;"> <span
                        style="color: white;">Réservez</span> votre convention</h6>
                <h6 style="color: rgb(50, 189, 4);"> en toute transparence.</h6>

            </div>
            <div class="partier1-2">
                <img src="../../../assets/images/imagesSportEntreprise/imagescomposant2/icons4.png" alt="">
                <h6 style="color: rgba(255, 255, 255, 0.704); font-size: 18px;"> <span
                        style="color: white;">Réservez</span> votre convention</h6>
                <h6 style="color: rgb(50, 189, 4);">à tout moment
                </h6>
                <h6 style="color: rgb(50, 189, 4);; margin-top:-10px;">et où vous voulez.</h6>
            </div>
        </div>


    </div>


    <div class="body2">
        <div class="partier4">
            <div class="partier4-1">
                <h1 ><span style="color: rgb(129, 127, 127);">COMMENT ÇA</span><br>
                    <span style="color: rgb(50, 189, 4);">FONCTIONNE !</span>
                </h1>

            </div>
            <div class="partier4-2">
                <div class="card1">
                    <h2 style="color: rgb(50, 189, 4); margin-left: 20px;">1 .</h2>
                    <div style="display: flex; justify-content: center; margin-top: -60px;">
                        <img style=" width: 130px; height: 130px;"
                            src="../../../../assets/images/imagepartenairePage/imagecomposant2partenaire/iconscard1composant2partenaire.png"
                            alt="">
                    </div>
                    <div style="width: 100%; display: flex; justify-content: center; margin-top: -60px;">
                        <h5 style="text-align: center;">Créez votre compte SPORTSCAPE</h5>
                    </div>


                    <P style="margin-top: -80px;text-align: center;">Ajouter votre espace de sport ou de loisir</P>

                </div>
                <div class="card2">
                    <h2 style="color: rgb(50, 189, 4); margin-left: 20px;">2 .</h2>
                    <div style="display: flex; justify-content: center; margin-top: -60px;">
                        <img style=" width: 130px; height: 130px;"
                            src="../../../../assets/images/imagepartenairePage/imagecomposant2partenaire/iconscard2composant2partenaire.png"
                            alt="">
                    </div>
                    <div style=" display: flex; justify-content: center; margin-top: -60px;">
                        <div>
                            <h5 style="text-align: center;">Rencontrez un conseiller clientèle SPORTSCAPE</h5>
                        </div>

                    </div>

                    <div style="width: 100%; display: flex; justify-content: center; margin-top: -70px;">
                        <div style="width: 100%;">
                            <P style="text-align: center;">Un conseiller SPOFUN répondra à 
                                toutes vos questions et vous
                                 apportera toutes les informations utiles</P>
                        </div>

                    </div>
                </div>
                <div class="card3">
                    <h2 style="color: rgb(50, 189, 4); margin-left: 20px;">3 .</h2>
                    <div style="display: flex; justify-content: center; margin-top: -60px;">
                        <img style=" width: 130px; height: 130px;"
                            src="../../../../assets/images/imagepartenairePage/imagecomposant2partenaire/iconscard3composant2partenair.png"
                            alt="">
                    </div>
                    <div style="display: flex; justify-content: center; margin-top: -60px;">
                        <div>
                            <h5 style="text-align: center;">Bienvenue au sein de la communauté SPORTSCAPE</h5>
                        </div>

                    </div>

                    <div style=" display: flex; justify-content: center; margin-top: -70px;">
                        <div >
                            <P style="text-align: center;">Gérez votre espace de sport ou de loisir
                                en temps réel, en toute sécurité
                                et en toute autonomie</P>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>
</div>