<div class="navBar" >
    
    <div class="partier1">
       
        <div class="logoApp">
               <img class="img1" src="../assets/images/imagesnavBar/logo.png" alt=""> 
        </div>
        <h4 style="font-weight: bold; color: rgb(250, 250, 250);  ;"> <span style="color: rgb(65, 216, 51);">S</span>port <span style="color:  rgb(65, 216, 51)">S</span>cape</h4>

    </div>
    
    <div class="partier2">
        <div class="partier2-1">
            <div class="itemnav">
                <a href="">Accueil</a>
            </div>
            <div>
                <a href=""> Contactez-nous</a>
            </div>
            <div>
                <a href="">Sport en Entreprise</a>
            </div>
            <div>
                <a href=""> Devenez partenaire</a>
            </div>


        </div>

    </div>
    <div class="partier3">
        <div class="partier3-1">
            <div class="button-77" style="display: flex; justify-content: center; align-items: center;">
                <img style="width: 40ox; height: 40px;" src="../../../assets/images/imagesnavBar/iconperson.png" alt="">
                <h4>Se connecter</h4>
            </div>
            <div class="button-777" style="display: flex; justify-content: center; align-items: center;">
                <h4>S'inscrire</h4>
            </div>
        </div>
      <div class="partier3-2">
        <div (click)=" closepopup()" class="button-7777 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg>
        </div>
      </div>

            
       
    

    </div>
    
    
    
   

</div>
