<app-navbar></app-navbar>
<div class="partierr1">
    <div class="partier1-1">
        <div class="partier1-1-1">
            <h4 style="margin-top: 200px;"><span style="color: rgb(13, 177, 32); font-size: 45px;">CONTACTEZ</span><br>
                <span style="color: rgb(162, 238, 48); font-size: 45px;">NOUS</span>
            </h4>
        </div>


    </div>
    <div class="partier1-2">
        <div class="partier121">
            <div class="partier1-2-1">

                <div class="partier1-2-item">
                    <h4>Adresse</h4>
                    <h6>Bureau 133 - A03</h6>
                    <h6>Bloc Il - 1er étage</h6>
                    <h6>Smart Tunisian Technopark</h6><br>
                    <h6>Route de Raoued</h6>
                    <h6> Cité de Technologie de3</h6>
                    <h6> communication</h6>
                    <h6> Elghazala -2088 Ariana</h6>

                </div>
                <div class="partier1-2-item item2">
                    <h4>Tél</h4>
                    <h6>+ 216 23 655 619</h6>
                </div>
                <div class="partier1-2-item item2">
                    <h4>E-mail</h4>
                    <h6>contact@gmail.com</h6>

                </div>
            </div>


            <div class="container">
                <div class="title" style="font-weight:lighter; font-size: 16px; margin-top: 10px;">Info Générale
                </div>
                <div class="content">
                    <form [formGroup]="contactForm" novalidate>
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">nom</span>
                                <input type="text" placeholder="nom" formControlName="nom" required>
                                <small *ngIf="contactForm.controls['nom'].errors && contactForm.controls['nom'].touched"
                                    class="text-danger">
                                    {{getErrorsMessage('nom',contactForm.controls['nom'].errors)}}</small>

                            </div>
                            <div class="input-box">
                                <span class="details">prenom </span>
                                <input type="text" placeholder="prenom" formControlName="prenom" required>
                                <small
                                    *ngIf="contactForm.controls['prenom'].errors && contactForm.controls['prenom'].touched"
                                    class="text-danger">
                                    {{getErrorsMessage('prenom',contactForm.controls['prenom'].errors)}}</small>
                            </div>
                        </div>
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Tél</span>
                                <input type="text" placeholder="+216" formControlName="telephone" required>
                                <small
                                    *ngIf="contactForm.controls['telephone'].errors && contactForm.controls['telephone'].touched"
                                    class="text-danger">
                                    {{getErrorsMessage('telephone',contactForm.controls['telephone'].errors)}}</small>
                            </div>
                            <div class="input-box">
                                <span class="details">Email </span>
                                <input type="text" placeholder="Email" formControlName="email" required>
                                <small
                                    *ngIf="contactForm.controls['email'].errors && contactForm.controls['email'].touched"
                                    class="text-danger">
                                    {{getErrorsMessage('email',contactForm.controls['email'].errors)}}</small>
                            </div>
                        </div>
                        <div class="user-details user-details2">
                            <div class="input-box">
                                <span class="details">Sujet</span>
                                <input type="text" placeholder="Sujet" formControlName="sujet" required>
                                <small
                                    *ngIf="contactForm.controls['sujet'].errors && contactForm.controls['sujet'].touched"
                                    class="text-danger">
                                    {{getErrorsMessage('sujet',contactForm.controls['sujet'].errors)}}</small>
                            </div>


                        </div>
                        <div class="user-details user-details2">
                            <div class="input-box">
                                <textarea placeholder="tapez ici votre message " formControlName="message" name="" id=""
                                    style="width: 100%; height: 60px;"></textarea>

                            </div>


                        </div>
                        <div class="button">
                            <input type="submit" value="Register" [disabled]="contactForm.invalid">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<app-footer></app-footer>