<div class="container">
    <div class="centered-container">
        <form class="form-container">
            <select name="dropdown1" id="dropdown1">
                <option value="" selected></option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
            </select>
            <select name="dropdown2" id="dropdown2">
                <option value="" selected><input type="text"></option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
            </select>
       <div class="p2">
            <div><input type="date" name="date" id="date"></div>
            <div style="margin-top: 10px; margin-left: -40px;"><label for="date"><img src="assets/images/searsh/part1/calendar.png" style="width: 30px;margin-right: 10px;"></label></div>
            <button type="submit"><img src="assets/images/searsh/part1/search.png"></button>
        </div>
        </form>
    </div>
</div> 