/* *************** medium screens (min width 750px) *************** */
@media screen and (min-width: 768px) {
  /* ********** main ********** */
  .main {
    display: flex;
    flex-direction: row;
    height: 70vh;
    padding-top: 5px;
    background-color: rgb(211, 211, 211);
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* ********** leftSide ********** */
  .leftside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
  }
  h1 {
    color: rgb(45, 70, 42);
    font-weight: bold;
    font-size: 42px;
    margin: 7px;
  }
  h6 {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 5px 15px;
  }
  h5 {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 20px 15px;
  }
  p {
    margin-left: 8px;
  }
  #icon {
    color: rgb(45, 70, 42);
    scale: 1.5;
    margin-right: 5px;
  }
  #description {
    color: green;
  }
  #nomProjet {
    color: rgb(57, 125, 66);
    font-weight: bold;
  }

  button {
    background-color: transparent;
    border: 2px solid rgb(57, 125, 66);
    color: rgb(57, 125, 66);
    width: 310px;
    font-weight: bold;
    margin-left: 15px;
  }
  button:hover {
    background-color: rgb(57, 125, 66);
    cursor: pointer;
    border: 2px solid rgb(57, 125, 66);
    color: white;
  }

  /* ********** rightSide ********** */
  .rightside {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  img {
    width: 100%;
    margin-right: 100px;
  }
}

/* *************** medium screens (max width 750px) *************** */
@media screen and (max-width: 767px) {
  /* ********** main ********** */
  .main {
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-color: rgb(211, 211, 211);
    align-items: center;
    width: 100%;
  }

  /* ********** leftSide ********** */
  .leftside {
    display: flex;
    flex-direction: column;
  }
  h1 {
    color: rgb(45, 70, 42);
    font-weight: bold;
    font-size: 35px;
  }
  h6 {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  h5 {
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }
  p {
    margin-left: 10px;
  }
  #icon {
    color: rgb(45, 70, 42);
    scale: 1.5;
    margin-right: 5px;
  }
  #description {
    color: green;
  }
  #nomProjet {
    color: rgb(57, 125, 66);
    font-weight: bold;
  }

  button {
    background-color: transparent;
    border: 2px solid rgb(57, 125, 66);
    color: rgb(57, 125, 66);
    width: 100%;
    size: 28px;
    font-weight: bold;
  }
  button:hover {
    background-color: rgb(57, 125, 66);
    cursor: pointer;
    border: 2px solid rgb(57, 125, 66);
    color: white;
  }

  /* ********** rightSide ********** */
  .rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .rightside img {
    align-self: flex-start;
    max-width: 90%;
    height: auto;
    object-fit: contain;
  }
}
