<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="main">
    <div class="leftside">
        <h1>VOUS AVEZ UN <br>ESPACE ?</h1>
        <h6 id="description">Vous proposez une avenue sportive ou de loisir ?</h6>
        <h5 id="nomProjet">SPORT SCAPE est là !</h5>
        <h6>
            <span class="glyphicon glyphicon-check" id="icon"></span>
            <p class="text">Pour vous différencier sur le marché.</p>
        </h6>
        <h6>
            <span class="glyphicon glyphicon-check" id="icon"></span>
            <p class="text">Pour gérer votre projet comme un Pro.</p>
        </h6>
        <h6>
            <span class="glyphicon glyphicon-check" id="icon"></span>
            <p class="text">Pour enregistrer des réservations 24/24 et 7/7.</p>
        </h6>
        <h6>
            <span class="glyphicon glyphicon-check" id="icon"></span>
            <p class="text">Pour mesurer vos statistiques..</p>
        </h6>
        <button type="button" class="btn btn-outline-success" routerLink="/partenaire">Devenir un partenaire</button>
    </div>
    <div class="rightside">
        <img src="/assets/images/accueil/composant5/composant5 image static.png" alt="not found">
    </div>
</div>