<div class="partier">
    <div class="partier2-f">
        <h1 style="color: rgb(50, 189, 4); font-size: 45px;">AVANTAGES</h1>
    </div>
    <div class="partier1">
        <div class="partier1-1">
            <img src="../../../assets/images/imagesSportEntreprise/imagescomposant2/icon1.png" alt="">
            <h6 style="color: rgba(255, 255, 255, 0.704); font-size: 18px;"> <span style="color: white;">Réservez</span> une convention</h6>
            <h6 style="color: rgb(50, 189, 4);"> avec une remise
                </h6>
                <h6 style="color: rgb(50, 189, 4);; margin-top:-10px;">exclusive.</h6>

        </div>
        <div class="partier1-2">
            <img src="../../../assets/images/imagesSportEntreprise/imagescomposant2/icon2.png" alt="">
            <h6 style="color: rgba(255, 255, 255, 0.704); font-size: 18px;" ><span style="color: white;">Améliorez</span>  la productivité</h6>
            <h6 style="color: rgb(50, 189, 4);"> et la performance.</h6>
        </div>

    </div>
    <div class="partier2">
        <h1 style="color: rgb(50, 189, 4); font-size: 45px;">AVANTAGES</h1>
    </div>
    <div class="partier3">
        <div class="partier1-1">
            <img src="../../../assets/images/imagesSportEntreprise/imagescomposant2/icon3.png" alt="">
            <h6 style="color: rgba(255, 255, 255, 0.704); font-size: 18px;"> <span style="color: white;">Réservez</span> votre convention</h6>
            <h6 style="color: rgb(50, 189, 4);"> en toute transparence.</h6>

        </div>
        <div class="partier1-2">
            <img src="../../../assets/images/imagesSportEntreprise/imagescomposant2/icons4.png" alt="">
            <h6 style="color: rgba(255, 255, 255, 0.704); font-size: 18px;"> <span style="color: white;">Réservez</span> votre convention</h6>
            <h6 style="color: rgb(50, 189, 4);">à tout moment
                </h6>
                <h6 style="color: rgb(50, 189, 4);; margin-top:-10px;">et où vous voulez.</h6>
        </div>
    </div>

</div>