<div class="main">
    <div class="image"><img src="/assets/images/accueil/composant6/ooredoo.png"></div>
    <div class="image"><img src="/assets/images/accueil/composant6/GAT.png"></div>
    <div class="image"><img src="/assets/images/accueil/composant6/ESPRIT.png"></div>
    <div class="image"><img src="/assets/images/accueil/composant6/UC.png"></div>
    <div class="image"><img src="/assets/images/accueil/composant6/KCONNECT.png"></div>
    <div class="image"><img src="/assets/images/accueil/composant6/TUNISIAN PEO LEAGUE.png"></div>
    <div class="image"><img src="/assets/images/accueil/composant6/STARTUPACT.png"></div>
    <div class="image"><img src="/assets/images/accueil/composant6/S2T.png"></div>
</div>