
<div class="partierr1">
    <div class="partier1-1">
        <div class="partier1-1-1" >
            <div style="margin-top: 300px; ">
                <h4 ><span style="color: rgb(13, 177, 32); font-size: 45px;">DEMANDE
                </span><br>
                 <span style="color: rgb(13, 177, 32); font-size: 45px;"> DE DEVIS</span></h4><br>
                 <h6 style="margin-bottom: 50px;" >
                     <span style="color: rgba(255, 255, 255, 0.826); font-size: 18px; font-weight: lighter;">Améliorer le rendement de vos employés
                     </span><br>
                     <span style="color: rgba(255, 255, 255, 0.826); font-size: 18px;  font-weight: lighter;">en réservant votre convention.
                     </span>
               </h6>
            </div>
           
        </div>
       

    </div>
    <div class="partier1-2">
        <div class="partier121" >
            <div class="partier1-2-1" >

                <div class="partier1-2-item">
                    <h4 >Adresse</h4>
                    <h6>Bureau 133 - A03</h6>
                    <h6>Bloc Il - 1er étage</h6>
                    <h6>Smart Tunisian Technopark</h6><br>
                    <h6>Route de Raoued</h6>
                    <h6> Cité de Technologie de3</h6>
                    <h6> communication</h6>
                    <h6> Elghazala -2088 Ariana</h6>

                </div>
                <div class="partier1-2-item item2">
                    <h4>Tél</h4>
                    <h6>+ 216 23 655 619</h6>
                </div>
                <div class="partier1-2-item item2">
                    <h4>E-mail</h4>
                    <h6>contact@gmail.com</h6>

                </div>
            </div>
           
    
                <div class="container">
                    <div class="title" style="margin-bottom: 30px; font-weight:bold; font-size: 16px; margin-top: 10px;">Contact
                        </div>
                    <div class="content">
                        <form novalidate>
                            <div class="user-details">
                                <div class="input-box">
                                   
                                    <input type="text" placeholder="Entreprise" formControlName="Entreprise" required>
            
                                </div>
                                <div class="input-box">
                                  
                                    <input type="text" placeholder="Responsable" formControlName="Responsable" required>
            
                                </div>
                            </div>
                            <div class="user-details">
                                <div class="input-box">
                                 
                                    <input type="text" placeholder="E-mail" formControlName="mail" required>
            
                                </div>
                                <div class="input-box">
                                    
                                    <input type="text" placeholder="N°Tel" formControlName="tel" required>
            
                                </div>
                            </div>
                            <div style="margin-bottom: 30px; font-weight:lighter; font-size: 16px; margin-top: 10px;"><span style="font-weight: bold;">Info générales </span><br>
                                <span>de votre convention</span> 
                            </div>
                           
                            <div class="user-details user-details2" style="margin-bottom: 20px;">
                                <div class="input-box">
                                    <input type="text" placeholder="Activité sportive" formControlName="ActivitéSportive" required>
            
                                </div>
            
            
                            </div>
                            <div class="user-details user-details2">
                                <div class="input-box">
                              <textarea placeholder="tapez vos adresses souhaités, nombre des séances par semaine,les horaires préférés ainsi que la période de la convention  " name="" id="" style="width: 100%; height: 60px;"></textarea>
            
                                </div>
            
            
                            </div>  
                            <div class="button">
                                <input type="submit" value="Register">
                            </div>
            
                        </form>
                    </div>
                </div>
            </div>
        </div>
       

    </div>