<div class="main">
    <div class="top">
        <div class="leftside">
            <div class="title">
                <h1>
                    COMMENT ÇA
                </h1>
                <h1>
                    MARCHE ?
                </h1>
            </div>
            <div class="description">
                <div class="details">
                    <div class="text">

                        <div> <img src="/assets/images/accueil/composant4/localisation.png" alt="not found"></div>
                        <div>
                            <p><strong>Trouver</strong> un espace pour pratiquer le sport et pour accéder au loisir.</p>
                        </div>
                    </div>
                    <div class="text">
                        <div><img src="/assets/images/accueil/composant4/agenda.png" alt="not found"></div>
                        <div>
                            <p><strong>Réserver</strong> en ligne</p>
                        </div>
                    </div>
                    <div class="text">
                        <div><img src="/assets/images/accueil/composant4/pratique.png" alt="not found"></div>
                        <div>
                            <p><strong>Pratiquer</strong> le sport et accéder au loisir.</p>
                        </div>
                    </div>
                </div>
                <div class="imageDetail">
                    <img src="/assets/images/accueil/composant4/number.png" alt="not found">
                </div>
            </div>
            <!-- <div>
                <h2 class="color1">POURQUOI</h2>
                <h2 class="color2">SPORT SCAPE ?</h2>
            </div> -->
        </div>
        <div class="middleside">
        </div>
        <div class="rightside">
            <img src="/assets/images/accueil/composant4/pitch.png" alt="not found">
        </div>
    </div>
    <!-- ********************************************************************************* -->
    <div class="footer">
        <div class="leftfooter">
            <h4>
                Recherche facile
            </h4>
            <h5>
                Choisissez le terrain, le club et le crénau idéal pour pratiquer le sport et pour accéder au loisir.
            </h5>
        </div>
        <div class="verticalBar"></div>
        <div class="middlefooter">
            <h4>
                Réservation en toute Sécurité
            </h4>
            <h5>
                Réservez où que vous soyez d'où et quand vous voulez à tout moment du jour ou de nuit et payez en toute
                sécurité.
            </h5>
        </div>
        <div class="verticalBar"></div>
        <div class="rightfooter">
            <h4>
                S'amuser sans engagement
            </h4>
            <h5>
                Améliorez votre bien être où vous voulez quand vous voulez sans engagement et facilement.
            </h5>
        </div>
    </div>
</div>