            <body>
                
            
            <div class="container" id="container">
                <div class="form-container sign-in-container">
                    <form role="form">
                        <h1>Se connecter</h1>
                        <div class="social-container">
                            <button class="button" style="display: flex; width: 100%; justify-content: center;" >
                                <img  src="../../../assets/images/imagesloginePage/google-icon.png" width="20px"  alt="" style="margin-right: 10px;">
                               Google

                            </button>
                           
                        </div>
                        <span>ou utilisez votre compte</span>
                        <input type="text" placeholder="username" formControlName="username" required />
                        
                      
                        <input type="password" placeholder="password" formControlName="password" required />
                        
                        <a href="#">Mot de passe oublié?</a>
                        <button >Se connecter</button>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-right">
                            <h1>Bienvenue à nouveau</h1>
                            <p>Entrez vos informations personnelles et commencez votre journey avec nous</p>

                        </div>
                    </div>
                </div>
            </div>
        
        </body>