<div class="main">

    <h1>ILS NOUS ONT FAIT CONFIANCE</h1>
    <app-composantspartenaire></app-composantspartenaire>
    <div class="footer">
        <!-- <div class="leftside"></div> -->

        <div class="middleside">
            <img src="/assets/images/accueil/composant6/icon localisation.png">
            <p>
                <strong>TROUVER, RESERVER & HAVE FUN</strong> sur <strong>SPORTSCAPE.tn</strong> la plateforme de tous les
                <strong>Sports</strong> et les <strong>Loisirs</strong> en <strong>TUNISIE.</strong>
            </p>
        </div>
        <div class="rightside">
            <button (click)="scrollToTop()">RECHERCHE</button>
        </div>
    </div>

</div>
