<!-- <div class="container">
    <div class="steps">
        <div class="step active"><span style="padding-right: 5px;"><i class="bi bi-calendar-date"></i></span>ÉTAPE <br>
            CHOISIR UN CRÉNEAU
        </div>
        <div class="step"><span style="padding-right: 5px;"><i class="bi bi-person-circle"></i></span>ÉTAPE <br> SE
            CONNECTER OU S'INSCRIRE</div>
        <div class="step"><span style="padding-right: 5px;"><i class="bi bi-credit-card"></i></span>ÉTAPE <br> FINALISER
            LA
            RÉSERVATION</div>
    </div>
    <div class="calendar">
        <div class="month">
            <button class="arrow">&lt;</button>
            <span>juin 2024</span>
            <button class="arrow">&gt;</button>
        </div>
        <div class="days">
            <div class="day active">dimanche<br>23 juin</div>
            <div class="day">lundi<br>24 juin</div>
            <div class="day">mardi<br>25 juin</div>
            <div class="day">mercredi<br>26 juin</div>
            <div class="day">jeudi<br>27 juin</div>
            <div class="day">vendredi<br>28 juin</div>
            <div class="day">samedi<br>29 juin</div>
        </div>
    </div>
    <div class="slots">
        <div class="slot">
            <div class="cancel-info">
                    <div class="msg">
                        Confirmer le temps
                        <br style="line-height: 1">
                        de votre reservation
                    </div>
                    <div class="toggle">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
            </div>
            <div class="slot-time">
                <i class="bi bi-alarm"></i>
                21:00H - 22:30H
            </div>
            <div class="slot-price">70<sup>DT</sup></div>
        </div>
        <div class="slot">
            <div class="cancel-info">
                <div class="msg">
                    Confirmer le temps
                    <br style="line-height: 1">
                    de votre reservation
                </div>
                <div class="toggle">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    </div>
                </div>
            </div>
            <div class="slot-time">
                <i class="bi bi-alarm"></i>
                22:30H - 00:00H
            </div>
            <div class="slot-price">70<sup>DT</sup></div>
        </div>

        <div class="slot">
            <div class="cancel-info">
                <div class="msg">
                    Confirmer le temps
                    <br style="line-height: 1">
                    de votre reservation
                </div>
                <div class="toggle">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    </div>
                </div>
            </div>
            <div class="slot-time">
                <i class="bi bi-alarm"></i>
                21:00H - 22:30H
            </div>
            <div class="slot-price">70<sup>DT</sup></div>
        </div>
        <div class="slot">
            <div class="cancel-info">
                <div class="msg">
                    Confirmer le temps
                    <br style="line-height: 1">
                    de votre reservation
                </div>
                <div class="toggle">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    </div>
                </div>
            </div>
            <div class="slot-time">
                <i class="bi bi-alarm"></i>
                22:30H - 00:00H
            </div>
            <div class="slot-price">70<sup>DT</sup></div>
        </div>
        <div class="slot">
            <div class="cancel-info">
                <div class="msg">
                    Confirmer le temps
                    <br style="line-height: 1">
                    de votre reservation
                </div>
                <div class="toggle">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    </div>
                </div>
            </div>
            <div class="slot-time">
                <i class="bi bi-alarm" ></i>
                22:30H - 00:00H
            </div>
            <div class="slot-price">70<sup>DT</sup></div>
        </div>
    </div>
    <div class="step-navigation">
        <button id="next-step">
            ÉTAPE SUIVANTE <span class="btn-icon">&rarr;</span>
        </button>
    </div>
</div> -->
<!-- <div class="container">
    <div class="steps">
        <div class="step active">ÉTAPE <br> CHOISIR UN CRÉNEAU</div>
        <div class="step">ÉTAPE <br> SE CONNECTER OU S'INSCRIRE</div>
        <div class="step">ÉTAPE <br> FINALISER LA RÉSERVATION</div>
    </div>
    <div class="calendar">
        <div class="month">
            <button class="arrow">&lt;</button>
            <span>juin 2024</span>
            <button class="arrow">&gt;</button>
        </div>
        <div class="days">
            <div class="day active">dimanche<br>23 juin</div>
            <div class="day">lundi<br>24 juin</div>
            <div class="day">mardi<br>25 juin</div>
            <div class="day">mercredi<br>26 juin</div>
            <div class="day">jeudi<br>27 juin</div>
            <div class="day">vendredi<br>28 juin</div>
            <div class="day">samedi<br>29 juin</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card" style="max-width: 250px;">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <button class="next-step">ÉTAPE SUIVANTE</button>
</div> -->

<!-- <div class="container"> -->
    <div *ngIf="currentSection === 'etape1'" class="etape1">
        <div class="steps">
            <!-- <div class="step active"><span style="padding-right: 5px;"><i class="bi bi-calendar-date"></i></span>ÉTAPE <br>
                CHOISIR UN CRÉNEAU
            </div> -->
            <div class="step active">
                <button (click)="navigateTo('etape1')">
                    <span style="padding-right: 5px;">
                        <i class="bi bi-calendar-date"></i>
                    </span>
                    ÉTAPE <br> CHOISIR UN CRÉNEAU
                </button>
            </div>
            <div class="step"><button (click)="navigateTo('etape2')">
                    <span style="padding-right: 5px;"><i class="bi bi-calendar-date"></i></span>
                    ÉTAPE <br> CHOISIR UN CRÉNEAU
    
                </button>
            </div>
            <div class="step">
                <button (click)="navigateTo('etape3')">
                    <span style="padding-right: 5px;">
                        <i class="bi bi-calendar-date"></i>
                    </span>
                    ÉTAPE <br> FINALISER LA RÉSERVATION
                </button>
            </div>
        </div>
            <app-calendrier></app-calendrier>

        <div class="slots">
            <div class="slot">
                <div class="cancel-info">
                    <div class="msg">
                        Confirmer le temps
                        <br style="line-height: 1">
                        de votre reservation
                    </div>
                    <div class="toggle">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>
                <div class="slot-time">
                    <i class="bi bi-alarm"></i>
                    21:00H - 22:30H
                </div>
                <div class="slot-price">70<sup>DT</sup></div>
            </div>
            <div class="slot">
                <div class="cancel-info">
                    <div class="msg">
                        Confirmer le temps
                        <br style="line-height: 1">
                        de votre reservation
                    </div>
                    <div class="toggle">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>
                <div class="slot-time">
                    <i class="bi bi-alarm"></i>
                    22:30H - 00:00H
                </div>
                <div class="slot-price">70<sup>DT</sup></div>
            </div>
            <!-- Ajoutez plus de blocs comme nécessaire -->
            <div class="slot">
                <div class="cancel-info">
                    <div class="msg">
                        Confirmer le temps
                        <br style="line-height: 1">
                        de votre reservation
                    </div>
                    <div class="toggle">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>
                <div class="slot-time">
                    <i class="bi bi-alarm"></i>
                    21:00H - 22:30H
                </div>
                <div class="slot-price">70<sup>DT</sup></div>
            </div>
            <div class="slot">
                <div class="cancel-info">
                    <div class="msg">
                        Confirmer le temps
                        <br style="line-height: 1">
                        de votre reservation
                    </div>
                    <div class="toggle">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>
                <div class="slot-time">
                    <i class="bi bi-alarm"></i>
                    22:30H - 00:00H
                </div>
                <div class="slot-price">70<sup>DT</sup></div>
            </div>
            <div class="slot">
                <div class="cancel-info">
                    <div class="msg">
                        Confirmer le temps
                        <br style="line-height: 1">
                        de votre reservation
                    </div>
                    <div class="toggle">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>
                <div class="slot-time">
                    <i class="bi bi-alarm"></i>
                    22:30H - 00:00H
                </div>
                <div class="slot-price">70<sup>DT</sup></div>
            </div>
        </div>
        <div class="step-navigation">
            <button id="next-step" (click)="navigateTo('etape2')">
                ÉTAPE SUIVANTE <span class="btn-icon">&rarr;</span>
            </button>
        </div>
    </div>
    <div *ngIf="currentSection === 'etape2'">
        <app-etape2></app-etape2>
    </div>
    <div *ngIf="currentSection === 'etape3'">
        <app-etape3></app-etape3>
    </div>
    <!-- </div> -->